<section class="top_header">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <p class="mi logo"><img width="60" src="assets/images/logo.png"></p>
                    </div>
                    <div class="col-md-8">
                        <p class="mi"><i class="fa fa-th fa-fw"></i> Categories</p>
                    </div>
                </div>


            </div>
            
            <div class="col-6 col-md-6">
                <form>
                <div class="row">
                    <div class="col-6 col-md-6">
                        <form>
                            <fieldset class="form-group">
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
                            </fieldset>
                            
                        </form>
                    </div>
                    <div class="col-6 col-md-6">
                        
                            
                            <fieldset class="form-group">
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
                            </fieldset>
                        
                    </div>
                </div>
                </form>
            </div>
            <div class="col-1 col-md-1">
              <a href="login">  <p class="mi pull-right"><i class="fa fa-lock"></i> Login</p></a>
             
            </div>

            <div class="col-2 col-md-2">
               <a href="signup"> <p class="mi"><i class="fa fa-sign-in"></i> Sign up</p></a>
            </div>
        </div>
    </div>
</section>