<div class="row">
    <div class="col-12 col-md-12">
      <h5>Top categories</h5><hr>
    </div>
    <div class="col-12 col-md-12">
      <ul class="list-unstyled mlist">
        <li><i class="fa fa-th fa-fw"></i> Categories</li>
        <li><i class="fa fa-th fa-fw"></i> Categories</li>
        <li><i class="fa fa-th fa-fw"></i> Categories</li>
        <li><i class="fa fa-th fa-fw"></i> Categories</li>
        <li><i class="fa fa-th fa-fw"></i> Categories</li>
        <li><i class="fa fa-th fa-fw"></i> Categories</li>
      </ul>
    </div>
  </div>