<section class="home">
	<div class="container-fluid">
		<div class="row ">
			<div class="col-md-2">
				<p class="mi logo text-center pt-2"><img width="60" src="assets/images/logo.png"></p>
<div class="row">
	<div class="col-md-12">
		<div class="profile mb-2">
			<img src="assets/images/pg.png">
			<p>Che Guevara<br><span> IT Student, NECG</span> </p>
		</div>
	</div>
	<div class="col-md-12">
		<ul class="leful">
			<li><a href=""><i class="fa fa-th bg1"></i> COACH ROOM</a></li>
			<li><a href=""><i class="fa fa-th bg2"></i> FUND TALENT</a></li>
			<li><a href=""><i class="fa fa-th bg3"></i> HR CONNECT</a></li>
			<li><a href=""><i class="fa fa-th bg4"></i> INVESTOR RELATION</a></li>
			<li><a href=""><i class="fa fa-th bg7"></i> PROJECT BID</a></li>
			<li><a href=""><i class="fa fa-th bg5"></i> BOOK COMMERCE</a></li>
			<li><a href=""><i class="fa fa-th bg1"></i> YOUR SUBSCRIPTIONS</a></li>
		</ul>
	</div>
<div class="col-md-12 accor">
	<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block  text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           <i class="fa fa-home pull-left"></i> See More  <i class="fa fa-angle-down pull-right"></i>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed btn-block  text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-home pull-left"></i> Help & Support <i class="fa fa-angle-down pull-right"></i>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
       
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed btn-block  text-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-home pull-left"></i> Settings & Privacy <i class="fa fa-angle-down pull-right"></i>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
       
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="h4">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed btn-block text-left" data-toggle="collapse" data-target="#c4" aria-expanded="false" aria-controls="c4">
         <i class="fa fa-power-off pull-left"></i> Logout
        </button>
      </h5>
    </div>
    
  </div>
</div>
</div>
</div>
			</div>
			<div class="col-md-10 bodyh pl-1 p-0">
				<div class="row  mb-1">
					<div class="col-md-12">
						<div class="top_block"><div class="row">
													<div class="col-md-8">
														<ul class="hom_ico">
															<li><a href=""><i class="fa fa-picture-o"></i></a></li>
															<li><a href=""><i class="fa fa-bell"></i></a></li>
															<li><a href=""><i class="fa fa-play"></i></a></li>
															<li><a href=""><i class="fa fa-search"></i></a></li>
															<li><a href=""><i class="fa fa-user-plus"></i></a></li>
															<li><a href=""><i class="fa fa-comments"></i></a></li>
														</ul>
													</div>
													<div class="col-md-4">
														<ul class="hom_ico">
															<li><a href=""><img src="assets/images/pg.png" width="35"></a></li>
															<li><a href=""><i class="fa fa-question-circle"></i></a></li>
															<li><a href=""><i class="fa fa-sign-out"></i></a></li>
															
														</ul>
													</div>
												</div></div>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-3">
								<div class="trend"><h6 class="pl-2 mb-1"><b>Trends for you</b></h6>
																<ol class="list-group nlist pl-2">
																	<li class="list-group-item"><a href="">Politics · Trending <b>#VizagGasLeak</b></a></li>
																	<li class="list-group-item"><a href="">Politics · Trending <b>#BuddhaPurnima</b></a> </li>
																	<li class="list-group-item"><a href="">Politics · Trending <b>#Visakhapatnam</b></a></li>
																</ol></div>
							</div>
			<div class="col-md-9">
				<div class="postbox bround">
					<div class="phead">
					<textarea name="" id="input" class="form-control" rows="4" placeholder="create a post" required="required"></textarea>
					</div>
					<div class="pfooter">
							<button type="button" class="btn btn-default btn-sm">Photos/Videos</button>
							<button type="button" class="btn btn-default btn-sm">Select Topic</button>
							<button type="button" class="btn btn-default btn-sm">...</button>
							<button type="button" class="btn btn-primary btn-sm pull-right">Post</button>
					</div>
				</div>
			</div>
						</div>
				
					</div>
			<div class="col-md-3 pl-1">
				<div class="vbox"><div class="row">
									<div class="col-md-12">
										<div class="vhead pb-2 mt-2 ml-1">
							
							<p><i class="fa fa-th"></i> Watch <small><span class="pull-right pr-1"><a href="">See more....</a></span></small></p>
										</div>
										<div class="vdesc">
											<ul class="vid_status">
												<li>
													<div class="vid_img">
														<a href=""><img src="assets/images/a.jpg" width="60"></a>
													</div>
													<div class="vid_title">Umesh is live now</div>
												</li>
												<li>
													<div class="vid_img">
														<a href=""><img src="assets/images/a.jpg" width="60"></a>
													</div>
													<div class="vid_title">Kaun Nachdi - Short Video  From "Sonu Ke Titu Ki Sweety</div>
												</li>
											</ul>
										</div>
									</div>
								</div></div>
			</div>
			<div class="col-md-3 pl-1">
				<div class="main-chat">
					<h5 class="mb-0 pt-1 pb-1">Professors</h5><hr class="mb-0 mt-0">
					<ul class="chat-box">
						<li>
							<a href=""><img src="assets/images/pg.png">Durga rao <i class="fa fa-circle cbg pull-right"></i></a>
						</li>
						<li>
							<a href=""><img src="assets/images/pg.png">ila Flynn <i class="fa fa-circle wbg pull-right"></i></a>
						</li>
						<li>
							<a href=""><img src="assets/images/pg.png">Tamar Heard <i class="fa fa-circle cbg pull-right"></i></a>
						</li>
						<li>
							<a href=""><img src="assets/images/pg.png">Olive Mathews <i class="fa fa-circle cbg pull-right"></i></a>
						</li>
						</ul>
						<h5 class="mb-0 pt-1 pb-1">COMMUNITY CONVERSATIONS</h5><hr class="mb-0 mt-0">
					<ul class="chat-box">
						<li>
							<a href=""><img src="assets/images/pg.png">Designer's Community <i class="fa fa-circle cbg pull-right"></i></a>
						</li>
						<li>
							<a href=""><img src="assets/images/pg.png">ila Flynn <i class="fa fa-circle wbg pull-right"></i></a>
						</li>
						
						</ul>
						<h5 class="mb-0 pt-1 pb-1">FRIENDS</h5><hr class="mb-0 mt-0">
					<ul class="chat-box">
						<li>
							<a href=""><img src="assets/images/pg.png">Durga rao <i class="fa fa-circle cbg pull-right"></i></a>
						</li>
						<li>
							<a href=""><img src="assets/images/pg.png">ila Flynn <i class="fa fa-circle wbg pull-right"></i></a>
						</li>
						<li>
							<a href=""><img src="assets/images/pg.png">Tamar Heard <i class="fa fa-circle cbg pull-right"></i></a>
						</li>
						<li>
							<a href=""><img src="assets/images/pg.png">Olive Mathews <i class="fa fa-circle cbg pull-right"></i></a>
						</li>
						</ul>
				</div>
			</div>
				</div>
			</div>
		</div>
	</div>
</section>


